body {
    font-family: "Segoe UI", Verdana, sans-serif;
    background: #EAEAEA;
}

* {
    margin: 0; 
    padding: 0;
}

#content {
    margin: 30px;
    padding: 20px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    webkit-border-radius: 7px;
    background: #FFF;
    border: 1px solid #DDD;
    box-shadow: 5px 5px 10px #CCC;
}


h1 {
    text-align: center;
    color: crimson
}

h2 {
    font-size: 120%;
    color: #777;
}

.form {
    margin-top: 10px;
}

.form input[type=text] {
    font-family: "Segoe UI", Verdana, sans-serif;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #AAA;
    width: 200px;
    margin-top: 5px;
}

.form input[type=button] {
    font-family: "Segoe UI", Verdana, sans-serif;
    padding: 13px;
    background: crimson;
    color: #FFF;
    width: 435px !important;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    font-size: 100%:
}

.size-200 {
    width: 200px;
}

.size-400 {
    width: 420px !important;
}